
*.log
*.asset
*.log
JuicyJam_Artware/fmod_editor.log
JuicyJam_Artware/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
*.log
JuicyJam_Artware/Assets/GustavMapp/Guns/SMG.asset.meta
JuicyJam_Artware/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset.meta
JuicyJam_Artware/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset.meta
JuicyJam_Artware/Assets/TextMesh Pro/Resources/Sprite Assets/EmojiOne.asset.meta
JuicyJam_Artware/Assets/TextMesh Pro/Resources/Style Sheets/Default Style Sheet.asset.meta
JuicyJam_Artware/Assets/TextMesh Pro/Resources/TMP Settings.asset.meta
JuicyJam_Artware/Assets/GustavMapp/Guns/SMG.asset.meta
